@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.logo-style{
    background: linear-gradient(10deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    background-clip: text;
    color: transparent;
}

.btn{
    background: linear-gradient(15deg, #F7E93F 10%, #FB09B4 51%, #9100F8 100%);
}

.hero-section{
    background-image: url(images/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}

.hero-img{
    background-image: url(images/hero-circle.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}

.hero-section{
    position: relative;
}

.new{
    position: absolute;
    left: 54%;
}

