@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --linear-bg1: linear-gradient(10deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    --linear-bg2: linear-gradient(15deg, #F7E93F 10%, #FB09B4 51%, #9100F8 100%);
    --font-size-h4: 1rem;
    --font-size-h2: 3rem;
}

html {
    font-size: 100%;
}

@keyframes animatedTag {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.15);
    }

    100% {
        transform: scale(1);
    }
}

.new{
    position: absolute;
    left: 54%;
    animation: animatedTag 2s ease-in-out infinite;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.logo-style{
    background: var(--linear-bg1);
    background-clip: text;
    color: transparent;
}

.btn{
    background: var(--linear-bg2);
    transition: transform 0.2s ease-in-out;
}

.btn:hover{
    transform: scale(1.05);
}

.sub-btn{
    transition: transform 0.2s ease-in-out;
}

.sub-btn:hover{
    transform: scale(1.05);
}

.hero-section{
    background-image: url(images/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}

.hero-img{
    background-image: url(images/hero-circle.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}

.hero-section{
    position: relative;
}

.footer-section{
    background-image: url(images/footer-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}

h4{
    font-size: var(--font-size-h4);
}

h2{
    font-size: var(--font-size-h2);
}


.menu ul li{
    transition: transform 0.3s ease-in-out;
}

.menu ul li:hover{
    transform: scale(1.1);
}

.layout{
    transition: transform 0.2s ease-in-out;
}

.layout:hover{
    cursor: pointer;
    transform: scale(1.02);
}

/* 440px Device */

@media screen and (max-width: 440px){
    h2{
        font-size: 2rem !important;
    }

    h4{
        font-size: 0.85rem !important;
    }

    .layout{
        padding: 1.5rem !important;
        grid-row: span 1 !important;
        grid-column: span 1 !important;
    }

    .w-\[1200px\], 
    .w-\[34\.375\%\], 
    .w-\[47\%\] {
        width: 90% !important;
        margin: 0 auto;
    }

    /*Nav Bar*/

    nav{
        padding: 0;
    }

    .menu, #menu-btn{
        display: none !important;
    }

    #hamburger{
        display: block !important;
    }

    /*Hero Section*/
    .hero-section{
        padding: 40px 0;
    }

    /*Ratings*/
    .about{
        padding: 40px 0;
    }

    .data{
        grid-template-columns:repeat(2, 1fr) !important;
        grid-template-rows: auto !important;
        row-gap: 10px !important;
        padding: 40px 0;
    }

    /*Choose Section*/

    .choose{
        padding: 40px 0;
    }

    .choose-layout{
        grid-template-columns: 1fr !important;
        grid-template-rows: auto !important;
    }


    /*Featured*/
    .featured{
        padding: 40px 0;
    }

    .featured-episodes{
        grid-template-columns: 1fr !important;
        grid-template-rows: auto !important;
    }

    .video{
        padding: 0 !important;
    }

    /* Host Section */
    .host-title{
        padding: 40px 0;
    }

    .host-section{
        grid-template-columns: 1fr !important;
        grid-template-rows: auto !important;
    }

    .host-image{
        grid-column: span 1 !important;
        grid-row: span 1 !important;
        width: 50% !important;
        margin: 0 auto !important;
    }

    .host-content{
        grid-column: span 1 !important;
        grid-row: span 1 !important;
    }

    .host-content h3{
        text-align: center;
    }

    .host-content h4{
        text-align: center;
    }

    .socials{
        justify-content: center !important;
    }

    /* Footer Section */

    .footer-section{
        padding: 0 0 40px;
    }

    .sponsors{
        width: 70%;
        margin: 0 auto;
        flex-wrap: wrap;
        gap: 16px;
        justify-content: center;
    }

    .spotify,.apple,.utube,.twitter{
        padding: 0 !important;
    }
}

/* 567px Device */

@media screen and (max-width: 576px){
    h2{
        font-size: 2.3rem !important;
    }

    h4{
        font-size: 0.88rem !important;
    }

    .layout{
        padding: 24px !important;
        grid-row: span 1 !important;
        grid-column: span 1 !important;
    }

    .w-\[1200px\], 
    .w-\[34\.375\%\], 
    .w-\[47\%\] {
        width: 90% !important;
        margin: 0 auto;
    }

    /*Nav Bar*/

    nav{
        padding: 0;
    }

    .menu, #menu-btn{
        display: none !important;
    }

    #hamburger{
        display: block !important;
    }

    /*Hero Section*/
    .hero-section{
        padding: 50px 0;
    }

    /*Ratings*/
    .about{
        padding: 50px 0;
    }

    .data{
        grid-template-columns:repeat(2, 1fr) !important;
        grid-template-rows: auto !important;
        row-gap: 10px !important;
        padding: 50px 0;
    }

    /*Choose Section*/

    .choose{
        padding: 50px 0;
    }

    .choose-layout{
        grid-template-columns: 1fr !important;
        grid-template-rows: auto !important;
    }


    /*Featured*/
    .featured{
        padding: 50px 0;
    }

    .featured-episodes{
        grid-template-columns: 1fr !important;
        grid-template-rows: auto !important;
    }

    .video{
        padding: 0 !important;
    }

    /* Host Section */
    .host-title{
        padding: 40px 0;
    }

    .host-section{
        grid-template-columns: 1fr !important;
        grid-template-rows: auto !important;
    }

    .host-image{
        grid-column: span 1 !important;
        grid-row: span 1 !important;
        width: 50% !important;
        margin: 0 auto !important;
    }

    .host-content{
        grid-column: span 1 !important;
        grid-row: span 1 !important;
    }

    .host-content h3{
        text-align: center;
    }

    .host-content h4{
        text-align: center;
    }

    .socials{
        justify-content: center !important;
    }

    /* Footer Section */

    .footer-section{
        padding: 0 0 50px;
    }

    .sponsors{
        width: 70%;
        margin: 0 auto;
        flex-wrap: wrap;
        gap: 16px;
        justify-content: center;
    }

    .spotify,.apple,.utube,.twitter{
        padding: 0 !important;
    }
}